<h1>Rails. Overflow.</h1>
<div class="container">
  <% @questions.each do |question| %>
    <tr>
      <td>votes: <%= question.votes %></td>
      <td>answers: <%= question.answers.count %></td>
      <td><%=question.title%></td>
      <td>posted: <%= question.created_at %></td>
      <td><%= link_to 'Show', question %></td>
    </tr><br>
  <% end %>
</div>
